<?xml version="1.0"?>
<configuration>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
	<appSettings>
		<add key="ConnectionString11" value="server=.;database=jxrint;uid=sa;pwd=jxprint2014" />
<add key="ConnectionString" value="server=hds133773406.my3w.com;database=hds133773406_db;uid=hds133773406;pwd=jxprint2014" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>
